# Environment and secrets
alfred/.env

# Python
alfred/venv/
alfred/__pycache__/
alfred/*.pyc

# Databases
alfred/alfred.db
alfred/chroma_db/

# Logs
alfred/alfred.log

# Notes and docs
notes/
*.md

# OS
.DS_Store
Thumbs.db


alfred/token.json
alfred/credentials.json

# AI modelsgit diff --stat
alfred/kokoro-v1_0.onnx
alfred/voices-v1_0.bin